<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="DotNetRtfWriter" version="2.0.0.3" targetFramework="net461" />
  <package id="Google.Apis" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Drive.v3" version="1.45.0.1964" targetFramework="net461" />
  <package id="Google.Apis.Sheets.v4" version="1.45.0.1965" targetFramework="net461" />
  <package id="itext7" version="7.1.11" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Magick.NET.Core" version="5.2.2" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.22.2.2" targetFramework="net461" />
  <package id="ManyConsole" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Mono.Options" version="6.6.0.161" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>